{
    "extends": [
        "eslint-config-impetus-basetest/react-javascript-recommended.js"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "rules": {},
    "overrides": []
}