.container {
  padding: 40px;
  background: #419be0;
  width: 100px;
  margin: 10px;
}
.slick-list {
  margin: 0 2rem;
}

.slick-slide img {
  margin: auto;
}

.slick-arrow {
  padding: 3px 0;
  margin: 1rem;
  font-size: 45px;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
}
.slick-next {
  right: -4rem;
  top: 40%;
}
.slick-prev {
  left: -4rem;
  top: 40%;
}
.slick-next:before,
.slick-prev:before {
  font-size: 3rem;
  color: darkgray;
  opacity: 0.5;
}
