.header {
  width: 100%;
  height: 60px;
  background: linear-gradient(120deg, #febd69, #f90);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #232f3d;
}
.main-heading {
  font-size: 40px;
  margin: 0;
}
.header-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
}
.header-tab {
  background-color: white;
  color: #232f3d;
  border-color: white;
  height: 40px;
  padding: 0px 14px;
  font-weight: bold;
  font-size: 17px;
  margin: 4px;
  border-radius: 5px;
  min-width: 75px;
  border-radius: 50px;
}
